# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\dev\places_project_react_frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
